openapi: 3.2.0
info:
  title: Contentstack SCIM SCIM Schema Discovery API
  description: The Contentstack SCIM API implements the System for Cross-domain Identity Management (SCIM 2.0) standard to enable automated user lifecycle management within a Contentstack organization. It allows Identity Providers (IdPs) to provision and deprovision users, manage group memberships, and synchronize user attributes between the IdP and Contentstack. This API is primarily used by enterprise organizations that manage Contentstack access through centralized identity management platforms such as Okta, Azure AD, or OneLogin. Group mappings in Contentstack allow IdP-managed groups to control role-based access within the CMS.
  version: '2.0'
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://auth-api.contentstack.com
  description: AWS North America Production Server
- url: https://eu-auth-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-auth-api.contentstack.com
  description: AWS Australia Production Server
- url: https://azure-na-auth-api.contentstack.com
  description: Azure North America Production Server
- url: https://azure-eu-auth-api.contentstack.com
  description: Azure Europe Production Server
- url: https://gcp-na-auth-api.contentstack.com
  description: GCP North America Production Server
- url: https://gcp-eu-auth-api.contentstack.com
  description: GCP Europe Production Server
security:
- bearerAuth: []
tags:
- name: SCIM Schema Discovery
  description: Schema discovery endpoints implement the SCIM 2.0 service provider configuration, returning supported schemas and resource types for IdP compatibility validation.
paths:
  /scim/v2.0/Schemas:
    get:
      operationId: getScimSchemas
      summary: Get SCIM schemas
      description: Returns the SCIM schemas supported by the Contentstack SCIM API, enabling IdP clients to understand the available attributes for User and Group resources.
      tags:
      - SCIM Schema Discovery
      security: []
      responses:
        '200':
          description: A list of SCIM schemas supported by the API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimListResponse'
  /scim/v2.0/ResourceTypes:
    get:
      operationId: getScimResourceTypes
      summary: Get SCIM resource types
      description: Returns the SCIM resource types supported by the Contentstack SCIM API including Users and Groups, enabling IdP clients to discover available endpoints and their schemas.
      tags:
      - SCIM Schema Discovery
      security: []
      responses:
        '200':
          description: A list of SCIM resource types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimListResponse'
components:
  schemas:
    ScimListResponse:
      type: object
      description: A SCIM 2.0 ListResponse container for multi-resource responses.
      properties:
        schemas:
          type: array
          description: SCIM schema URNs identifying this as a ListResponse.
          items:
            type: string
          example:
          - urn:ietf:params:scim:api:messages:2.0:ListResponse
        totalResults:
          type: integer
          description: Total number of resources matching the query.
        startIndex:
          type: integer
          description: 1-based index of the first result in this page.
        itemsPerPage:
          type: integer
          description: Number of results returned in this response.
        Resources:
          type: array
          description: Array of SCIM resource objects (Users or Groups).
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from the Identity Provider client for SCIM authentication.
externalDocs:
  description: Contentstack SCIM API Documentation
  url: https://www.contentstack.com/docs/developers/apis/scim-api
