openapi: 3.2.0
info:
  title: Contentstack Launch File Uploads API
  description: The Contentstack Launch API allows developers to programmatically manage web application deployments within Contentstack Launch. It supports full lifecycle management of Launch projects, environments, and deployments, including creating deployments from uploaded build artifacts, monitoring deployment logs, revalidating CDN caches, and retrieving signed upload URLs for build file transfers. The API is designed for CI/CD integration and enables automated deployment workflows for front-end applications connected to Contentstack stacks.
  version: v1
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://launch-api.contentstack.com
  description: AWS North America Production Server
- url: https://eu-launch-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-launch-api.contentstack.com
  description: AWS Australia Production Server
- url: https://azure-na-launch-api.contentstack.com
  description: Azure North America Production Server
- url: https://azure-eu-launch-api.contentstack.com
  description: Azure Europe Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: File Uploads
  description: File upload endpoints provide pre-signed URLs for securely uploading build artifacts to Contentstack Launch infrastructure before triggering a deployment.
paths:
  /projects/upload-url:
    get:
      operationId: getProjectUploadUrl
      summary: Get project upload URL
      description: Generates a pre-signed URL valid for 10 minutes for uploading a project build artifact file. Use this URL to upload your build package before triggering a deployment.
      tags:
      - File Uploads
      responses:
        '200':
          description: A pre-signed upload URL for project files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUrlResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    UploadUrlResponse:
      type: object
      description: A pre-signed URL for uploading build artifacts.
      properties:
        upload_url:
          type: string
          format: uri
          description: The pre-signed URL to use for uploading the build artifact file.
        upload_uid:
          type: string
          description: Unique identifier for this upload, used when creating a deployment.
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the pre-signed URL expires (10 minutes).
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        error_code:
          type: integer
          description: Numeric error code.
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with launch:manage or launch.projects scopes.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken for session-based authentication.
externalDocs:
  description: Contentstack Launch API Documentation
  url: https://www.contentstack.com/docs/developers/apis/launch-api
