openapi: 3.1.0
info:
  title: Contentstack Analytics Accounts Brand Kits API
  description: The Contentstack Analytics API provides access to usage and performance metrics for CMS, Launch, and Automate products within a Contentstack organization. Developers can retrieve analytics data programmatically to build custom dashboards, monitor content delivery performance, and track platform usage against plan limits. The API returns structured data suitable for aggregation with external analytics and business intelligence tools. Access is restricted to organization Owners and Admins. Requests use async job-based processing where initial POST calls queue the job and a subsequent GET call retrieves the results.
  version: v2
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://api.contentstack.io
  description: AWS North America Production Server
- url: https://eu-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-api.contentstack.com
  description: AWS Australia Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: Brand Kits
  description: Brand Kits are centralized repositories for an organization's brand identity assets, guidelines, and AI configuration. They are used to ensure consistent brand voice and style across AI-generated content.
paths:
  /v1/brand-kits:
    get:
      operationId: getAllBrandKits
      summary: Get all Brand Kits
      description: Retrieves all Brand Kits in the organization with pagination support and optional filtering. Each Brand Kit contains brand identity information used for AI content generation.
      tags:
      - Brand Kits
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A list of Brand Kits in the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandKitList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createBrandKit
      summary: Create a Brand Kit
      description: Creates a new Brand Kit in the organization with brand identity configuration including name, description, guidelines, and associated metadata.
      tags:
      - Brand Kits
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBrandKitRequest'
      responses:
        '201':
          description: The newly created Brand Kit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandKit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/brand-kits/{brand_kit_uid}:
    get:
      operationId: getBrandKit
      summary: Get a Brand Kit
      description: Retrieves the full details of a specific Brand Kit including its brand identity configuration, voice profiles, and associated knowledge vault content.
      tags:
      - Brand Kits
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/BrandKitUid'
      responses:
        '200':
          description: The requested Brand Kit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandKit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateBrandKit
      summary: Update a Brand Kit
      description: Updates the configuration and brand identity information for an existing Brand Kit.
      tags:
      - Brand Kits
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/BrandKitUid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBrandKitRequest'
      responses:
        '200':
          description: The updated Brand Kit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandKit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteBrandKit
      summary: Delete a Brand Kit
      description: Permanently removes a Brand Kit from the organization including all associated voice profiles and knowledge vault content.
      tags:
      - Brand Kits
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/BrandKitUid'
      responses:
        '200':
          description: Brand Kit deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of records to return.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    BrandKitUid:
      name: brand_kit_uid
      in: path
      required: true
      description: The unique identifier of the Brand Kit.
      schema:
        type: string
    OrganizationUid:
      name: organization_uid
      in: header
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
    Skip:
      name: skip
      in: query
      description: Number of records to skip for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    BrandKit:
      type: object
      description: A Brand Kit containing centralized brand identity assets and AI configuration.
      properties:
        uid:
          type: string
          description: Unique identifier of the Brand Kit.
        name:
          type: string
          description: Display name of the Brand Kit.
        description:
          type: string
          description: Description of the Brand Kit's purpose and scope.
        organization_uid:
          type: string
          description: UID of the organization that owns the Brand Kit.
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the Brand Kit was created.
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the Brand Kit was last updated.
    BrandKitList:
      type: object
      description: A paginated list of Brand Kits.
      properties:
        data:
          type: array
          description: Array of Brand Kit objects.
          items:
            $ref: '#/components/schemas/BrandKit'
        total:
          type: integer
          description: Total count of Brand Kits in the organization.
    CreateBrandKitRequest:
      type: object
      description: Parameters for creating or updating a Brand Kit.
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the Brand Kit.
        description:
          type: string
          description: Description of the Brand Kit's purpose.
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        error_code:
          type: integer
          description: Numeric error code.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token (M2M) with analytics access.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken. Only organization Owners and Admins can access analytics.
externalDocs:
  description: Contentstack Analytics API Documentation
  url: https://www.contentstack.com/docs/developers/apis/analytics-api
