openapi: 3.2.0
info:
  title: Contentstack Automate Management Audit Logs API
  description: The Contentstack Automate Management API allows developers to programmatically manage automation projects and workflows within a Contentstack organization. It supports creating, updating, retrieving, and deleting automations that connect Contentstack content events to third-party services and internal processes. This API is part of the Contentstack Automate product, which provides a no-code/low-code automation layer built on top of the CMS. It is useful for organizations that need to provision or manage automations at scale across multiple stacks or environments. The API also provides access to execution logs, audit logs, and project variables.
  version: v1
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://automations-api.contentstack.com
  description: AWS North America Production Server
- url: https://eu-automations-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-automations-api.contentstack.com
  description: AWS Australia Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: Audit Logs
  description: Audit logs track all administrative actions taken within an automation project, providing a history of configuration changes.
paths:
  /v1/organizations/{organization_uid}/projects/{project_uid}/audit-logs:
    get:
      operationId: getAllAuditLogs
      summary: Get all audit logs
      description: Retrieves all audit log entries for administrative actions taken within the project such as creating, updating, or deleting automations and configuration changes.
      tags:
      - Audit Logs
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: A list of audit log entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    AuditLogList:
      type: object
      description: A list of audit log entries.
      properties:
        data:
          type: array
          description: Array of audit log objects.
          items:
            $ref: '#/components/schemas/AuditLog'
    AuditLog:
      type: object
      description: An audit log entry recording an administrative action.
      properties:
        uid:
          type: string
          description: Unique identifier of the audit log entry.
        action:
          type: string
          description: The administrative action that was performed.
        performed_by:
          type: string
          description: UID of the user who performed the action.
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the action was performed.
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        error_code:
          type: integer
          description: Numeric error code.
  parameters:
    ProjectUid:
      name: project_uid
      in: path
      required: true
      description: The unique identifier of the automation project.
      schema:
        type: string
    OrganizationUid:
      name: organization_uid
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with appropriate Automate scopes.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken for session-based authentication.
externalDocs:
  description: Contentstack Automate Management API Documentation
  url: https://www.contentstack.com/docs/developers/apis/automation-hub-management-api
