openapi: 3.2.0
info:
  title: Contentstack Projects API
  version: v1
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
  description: 'Operations tagged Projects across 2 of this provider''s published API definitions: contentstack-automate-management-api-openapi.yml, contentstack-launch-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://automations-api.contentstack.com
  description: AWS North America Production Server
- url: https://eu-automations-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-automations-api.contentstack.com
  description: AWS Australia Production Server
- url: https://launch-api.contentstack.com
  description: AWS North America Production Server
- url: https://eu-launch-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-launch-api.contentstack.com
  description: AWS Australia Production Server
- url: https://azure-na-launch-api.contentstack.com
  description: Azure North America Production Server
- url: https://azure-eu-launch-api.contentstack.com
  description: Azure Europe Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: Projects
  description: Automation projects are containers for automations within a Contentstack organization. Each project groups related automations and can have its own variables and account connections.
paths:
  /v1/organizations/{organization_uid}/projects:
    get:
      operationId: getAllProjects
      summary: Get all projects
      description: Retrieves all automation projects within the specified organization. Each project contains automations, variables, and external service account connections.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      responses:
        '200':
          description: A list of automation projects in the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProject
      summary: Create a project
      description: Creates a new automation project within the specified organization. Projects serve as organizational containers for automations and shared configuration.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: The newly created project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://automations-api.contentstack.com
      description: AWS North America Production Server
    - url: https://eu-automations-api.contentstack.com
      description: AWS Europe Production Server
    - url: https://au-automations-api.contentstack.com
      description: AWS Australia Production Server
  /v1/organizations/{organization_uid}/projects/{project_uid}:
    get:
      operationId: getProject
      summary: Get a project
      description: Retrieves details for a specific automation project including its metadata, creation date, and current status.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: The requested project details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateProject
      summary: Update a project
      description: Updates the name or description of an existing automation project.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '200':
          description: The updated project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteProject
      summary: Delete a project
      description: Permanently deletes an automation project and all its automations, variables, and configuration. This action is irreversible.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: Project deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://automations-api.contentstack.com
      description: AWS North America Production Server
    - url: https://eu-automations-api.contentstack.com
      description: AWS Europe Production Server
    - url: https://au-automations-api.contentstack.com
      description: AWS Australia Production Server
  /projects:
    get:
      operationId: getAllProjects
      summary: Get all projects
      description: Retrieves all Launch projects accessible to the authenticated user or organization. Returns project metadata including names, creation dates, and environment counts.
      tags:
      - Projects
      responses:
        '200':
          description: A list of Launch projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList_2'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProject
      summary: Create a project
      description: Creates a new Launch project for deploying a web application. Projects serve as the top-level container for environments and deployments.
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest_2'
      responses:
        '201':
          description: The newly created Launch project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project_2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://launch-api.contentstack.com
      description: AWS North America Production Server
    - url: https://eu-launch-api.contentstack.com
      description: AWS Europe Production Server
    - url: https://au-launch-api.contentstack.com
      description: AWS Australia Production Server
    - url: https://azure-na-launch-api.contentstack.com
      description: Azure North America Production Server
    - url: https://azure-eu-launch-api.contentstack.com
      description: Azure Europe Production Server
  /projects/{project_uid}:
    get:
      operationId: getProject
      summary: Get a project
      description: Retrieves the details of a specific Launch project including its configuration, current status, and linked Contentstack stack.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectUid_2'
      responses:
        '200':
          description: The requested Launch project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project_2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateProject
      summary: Update a project
      description: Updates the configuration of an existing Launch project such as its name, description, or framework settings.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectUid_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest_2'
      responses:
        '200':
          description: The updated Launch project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project_2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteProject
      summary: Delete a project
      description: Permanently deletes a Launch project and all its environments and deployment history. This action is irreversible.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectUid_2'
      responses:
        '200':
          description: Project deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://launch-api.contentstack.com
      description: AWS North America Production Server
    - url: https://eu-launch-api.contentstack.com
      description: AWS Europe Production Server
    - url: https://au-launch-api.contentstack.com
      description: AWS Australia Production Server
    - url: https://azure-na-launch-api.contentstack.com
      description: Azure North America Production Server
    - url: https://azure-eu-launch-api.contentstack.com
      description: Azure Europe Production Server
components:
  parameters:
    ProjectUid:
      name: project_uid
      in: path
      required: true
      description: The unique identifier of the automation project.
      schema:
        type: string
    OrganizationUid:
      name: organization_uid
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
    ProjectUid_2:
      name: project_uid
      in: path
      required: true
      description: The unique identifier of the Launch project.
      schema:
        type: string
  schemas:
    Project:
      type: object
      description: An automation project within a Contentstack organization.
      properties:
        uid:
          type: string
          description: Unique identifier of the project.
        name:
          type: string
          description: Display name of the project.
        description:
          type: string
          description: Description of the project's purpose.
        organization_uid:
          type: string
          description: UID of the organization that owns the project.
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the project was created.
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the project was last updated.
    ProjectList:
      type: object
      description: A list of automation projects.
      properties:
        data:
          type: array
          description: Array of project objects.
          items:
            $ref: '#/components/schemas/Project'
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        error_code:
          type: integer
          description: Numeric error code.
    CreateProjectRequest:
      type: object
      description: Parameters for creating or updating a project.
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the project.
        description:
          type: string
          description: Description of the project's purpose.
    Project_2:
      type: object
      description: A Contentstack Launch project for web application deployment.
      properties:
        uid:
          type: string
          description: Unique identifier of the project.
        name:
          type: string
          description: Display name of the project.
        description:
          type: string
          description: Description of the project.
        framework:
          type: string
          description: The web framework used by the project (e.g., next, gatsby, nuxt).
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the project was created.
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the project was last updated.
    ProjectList_2:
      type: object
      description: A list of Launch projects.
      properties:
        data:
          type: array
          description: Array of Launch project objects.
          items:
            $ref: '#/components/schemas/Project_2'
    CreateProjectRequest_2:
      type: object
      description: Parameters for creating or updating a Launch project.
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the project.
        description:
          type: string
          description: Description of the project.
        framework:
          type: string
          description: The web framework for the project.
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with appropriate Automate scopes.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken for session-based authentication.
x-refined-from:
- contentstack-automate-management-api-openapi.yml
- contentstack-launch-api-openapi.yml
