openapi: 3.2.0
info:
  title: Contentstack Automate Management Execution Logs API
  description: The Contentstack Automate Management API allows developers to programmatically manage automation projects and workflows within a Contentstack organization. It supports creating, updating, retrieving, and deleting automations that connect Contentstack content events to third-party services and internal processes. This API is part of the Contentstack Automate product, which provides a no-code/low-code automation layer built on top of the CMS. It is useful for organizations that need to provision or manage automations at scale across multiple stacks or environments. The API also provides access to execution logs, audit logs, and project variables.
  version: v1
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://automations-api.contentstack.com
  description: AWS North America Production Server
- url: https://eu-automations-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-automations-api.contentstack.com
  description: AWS Australia Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: Execution Logs
  description: Execution logs record each time an automation runs, including the trigger context, steps executed, and success or failure status.
paths:
  /v1/organizations/{organization_uid}/projects/{project_uid}/executions:
    get:
      operationId: getAllExecutionLogs
      summary: Get all execution logs
      description: Retrieves a list of execution log entries for all automations in the project, showing each run with its trigger context, status, and completion time.
      tags:
      - Execution Logs
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: A list of execution log entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionLogList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/organizations/{organization_uid}/projects/{project_uid}/executions/{execution_uid}:
    get:
      operationId: getExecutionLog
      summary: Get an execution log
      description: Retrieves the full details of a specific automation execution log entry, including step-by-step results and any error messages encountered.
      tags:
      - Execution Logs
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      - $ref: '#/components/parameters/ExecutionUid'
      responses:
        '200':
          description: The requested execution log entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionLog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    ProjectUid:
      name: project_uid
      in: path
      required: true
      description: The unique identifier of the automation project.
      schema:
        type: string
    ExecutionUid:
      name: execution_uid
      in: path
      required: true
      description: The unique identifier of the execution log entry.
      schema:
        type: string
    OrganizationUid:
      name: organization_uid
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ExecutionLog:
      type: object
      description: A record of a single automation execution run.
      properties:
        uid:
          type: string
          description: Unique identifier of the execution log entry.
        automation_uid:
          type: string
          description: UID of the automation that was executed.
        status:
          type: string
          description: Outcome status of the execution.
          enum:
          - success
          - failure
          - partial
        started_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the execution started.
        completed_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the execution completed.
        steps:
          type: array
          description: Step-by-step execution results.
          items:
            type: object
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        error_code:
          type: integer
          description: Numeric error code.
    ExecutionLogList:
      type: object
      description: A list of automation execution log entries.
      properties:
        data:
          type: array
          description: Array of execution log objects.
          items:
            $ref: '#/components/schemas/ExecutionLog'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with appropriate Automate scopes.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken for session-based authentication.
externalDocs:
  description: Contentstack Automate Management API Documentation
  url: https://www.contentstack.com/docs/developers/apis/automation-hub-management-api
