openapi: 3.2.0
info:
  title: Contentstack Launch Analytics API
  description: The Contentstack Launch API allows developers to programmatically manage web application deployments within Contentstack Launch. It supports full lifecycle management of Launch projects, environments, and deployments, including creating deployments from uploaded build artifacts, monitoring deployment logs, revalidating CDN caches, and retrieving signed upload URLs for build file transfers. The API is designed for CI/CD integration and enables automated deployment workflows for front-end applications connected to Contentstack stacks.
  version: v1
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://launch-api.contentstack.com
  description: AWS North America Production Server
- url: https://eu-launch-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-launch-api.contentstack.com
  description: AWS Australia Production Server
- url: https://azure-na-launch-api.contentstack.com
  description: Azure North America Production Server
- url: https://azure-eu-launch-api.contentstack.com
  description: Azure Europe Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: Analytics
  description: Analytics endpoints provide usage metrics for Launch projects such as cache revalidation quota consumption.
paths:
  /organizations/cache-revalidation-usage:
    get:
      operationId: getCacheRevalidationUsage
      summary: Get cache revalidation usage
      description: Retrieves the organization's current cache revalidation quota usage, showing how many revalidation requests have been used against the organization's plan limit.
      tags:
      - Analytics
      responses:
        '200':
          description: Cache revalidation usage metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheUsage'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    CacheUsage:
      type: object
      description: Cache revalidation usage metrics for the organization.
      properties:
        used:
          type: integer
          description: Number of cache revalidation requests used in the current period.
        limit:
          type: integer
          description: Maximum number of cache revalidation requests allowed per period.
        period_start:
          type: string
          format: date-time
          description: Start of the current usage period.
        period_end:
          type: string
          format: date-time
          description: End of the current usage period.
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        error_code:
          type: integer
          description: Numeric error code.
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with launch:manage or launch.projects scopes.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken for session-based authentication.
externalDocs:
  description: Contentstack Launch API Documentation
  url: https://www.contentstack.com/docs/developers/apis/launch-api
