openapi: 3.2.0
info:
  title: Contentstack Automate Management Variables API
  description: The Contentstack Automate Management API allows developers to programmatically manage automation projects and workflows within a Contentstack organization. It supports creating, updating, retrieving, and deleting automations that connect Contentstack content events to third-party services and internal processes. This API is part of the Contentstack Automate product, which provides a no-code/low-code automation layer built on top of the CMS. It is useful for organizations that need to provision or manage automations at scale across multiple stacks or environments. The API also provides access to execution logs, audit logs, and project variables.
  version: v1
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://automations-api.contentstack.com
  description: AWS North America Production Server
- url: https://eu-automations-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-automations-api.contentstack.com
  description: AWS Australia Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: Variables
  description: Project variables are reusable key-value pairs that can be referenced across multiple automations within a project.
paths:
  /v1/organizations/{organization_uid}/projects/{project_uid}/variables:
    get:
      operationId: getAllVariables
      summary: Get all variables
      description: Retrieves all project variables defined for the automation project. Variables are reusable key-value pairs that can be referenced across automation configurations.
      tags:
      - Variables
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: A list of project variables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createVariable
      summary: Create a variable
      description: Creates a new project variable that can be referenced in automation configurations. Variables can store API keys, URLs, or other configuration values that are used across multiple automations.
      tags:
      - Variables
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariableRequest'
      responses:
        '201':
          description: The newly created variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    ProjectUid:
      name: project_uid
      in: path
      required: true
      description: The unique identifier of the automation project.
      schema:
        type: string
    OrganizationUid:
      name: organization_uid
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
  schemas:
    CreateVariableRequest:
      type: object
      description: Parameters for creating a project variable.
      required:
      - name
      - key
      - value
      properties:
        name:
          type: string
          description: Display name for the variable.
        key:
          type: string
          description: Machine-readable key for the variable.
        value:
          type: string
          description: Value to store in the variable.
        is_secret:
          type: boolean
          description: Set to true to mark the variable as a secret.
          default: false
    Variable:
      type: object
      description: A reusable configuration variable for use across automations.
      properties:
        uid:
          type: string
          description: Unique identifier of the variable.
        name:
          type: string
          description: Display name of the variable.
        key:
          type: string
          description: Machine-readable key for referencing the variable in automations.
        value:
          type: string
          description: The value stored in the variable. Sensitive values may be masked.
        is_secret:
          type: boolean
          description: Indicates whether the variable value is treated as a secret.
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        error_code:
          type: integer
          description: Numeric error code.
    VariableList:
      type: object
      description: A list of project variables.
      properties:
        data:
          type: array
          description: Array of variable objects.
          items:
            $ref: '#/components/schemas/Variable'
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with appropriate Automate scopes.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken for session-based authentication.
externalDocs:
  description: Contentstack Automate Management API Documentation
  url: https://www.contentstack.com/docs/developers/apis/automation-hub-management-api
