openapi: 3.1.0
info:
  title: Contentstack Analytics Accounts Execution Logs API
  description: The Contentstack Analytics API provides access to usage and performance metrics for CMS, Launch, and Automate products within a Contentstack organization. Developers can retrieve analytics data programmatically to build custom dashboards, monitor content delivery performance, and track platform usage against plan limits. The API returns structured data suitable for aggregation with external analytics and business intelligence tools. Access is restricted to organization Owners and Admins. Requests use async job-based processing where initial POST calls queue the job and a subsequent GET call retrieves the results.
  version: v2
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://api.contentstack.io
  description: AWS North America Production Server
- url: https://eu-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-api.contentstack.com
  description: AWS Australia Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: Execution Logs
  description: Execution logs record each time an automation runs, including the trigger context, steps executed, and success or failure status.
paths:
  /v1/organizations/{organization_uid}/projects/{project_uid}/executions:
    get:
      operationId: getAllExecutionLogs
      summary: Get all execution logs
      description: Retrieves a list of execution log entries for all automations in the project, showing each run with its trigger context, status, and completion time.
      tags:
      - Execution Logs
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: A list of execution log entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionLogList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/organizations/{organization_uid}/projects/{project_uid}/executions/{execution_uid}:
    get:
      operationId: getExecutionLog
      summary: Get an execution log
      description: Retrieves the full details of a specific automation execution log entry, including step-by-step results and any error messages encountered.
      tags:
      - Execution Logs
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      - $ref: '#/components/parameters/ExecutionUid'
      responses:
        '200':
          description: The requested execution log entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionLog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    ExecutionUid:
      name: execution_uid
      in: path
      required: true
      description: The unique identifier of the execution log entry.
      schema:
        type: string
    ProjectUid:
      name: project_uid
      in: path
      required: true
      description: The unique identifier of the automation project.
      schema:
        type: string
    OrganizationUid:
      name: organization_uid
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ExecutionLogList:
      type: object
      description: A list of automation execution log entries.
      properties:
        data:
          type: array
          description: Array of execution log objects.
          items:
            $ref: '#/components/schemas/ExecutionLog'
    ExecutionLog:
      type: object
      description: A record of a single automation execution run.
      properties:
        uid:
          type: string
          description: Unique identifier of the execution log entry.
        automation_uid:
          type: string
          description: UID of the automation that was executed.
        status:
          type: string
          description: Outcome status of the execution.
          enum:
          - success
          - failure
          - partial
        started_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the execution started.
        completed_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the execution completed.
        steps:
          type: array
          description: Step-by-step execution results.
          items:
            type: object
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        error_code:
          type: integer
          description: Numeric error code.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token (M2M) with analytics access.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken. Only organization Owners and Admins can access analytics.
externalDocs:
  description: Contentstack Analytics API Documentation
  url: https://www.contentstack.com/docs/developers/apis/analytics-api
