openapi: 3.2.0
info:
  title: Contentstack Personalize Management Geolocation API
  description: The Contentstack Personalize Management API provides programmatic control over the resources in a Contentstack Personalize project, including Attributes, Audiences, Events, and Experiences. Developers can use this API to create and manage audience segments based on user attributes and behavioral events, and to configure personalized content experiences for those segments. It is a REST API that follows standard CRUD conventions and is intended for use in headless personalization workflows where content targeting logic needs to be managed programmatically or integrated with external data platforms.
  version: v1
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://personalize-api.contentstack.com
  description: AWS North America Production Server
- url: https://eu-personalize-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-personalize-api.contentstack.com
  description: AWS Australia Production Server
- url: https://azure-na-personalize-api.contentstack.com
  description: Azure North America Production Server
- url: https://azure-eu-personalize-api.contentstack.com
  description: Azure Europe Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: Geolocation
  description: Geolocation endpoints provide geographic datasets including regions, countries, and cities for location-based audience targeting.
paths:
  /geolocation/regions:
    get:
      operationId: getGeoRegions
      summary: Get geolocation regions
      description: Retrieves the list of geographic regions available for location-based audience targeting rules.
      tags:
      - Geolocation
      parameters:
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: A list of geographic regions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /geolocation/countries:
    get:
      operationId: getGeoCountries
      summary: Get geolocation countries
      description: Retrieves the list of countries available for location-based audience targeting rules.
      tags:
      - Geolocation
      parameters:
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: A list of countries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /geolocation/cities:
    get:
      operationId: getGeoCities
      summary: Get geolocation cities
      description: Retrieves the list of cities available for location-based audience targeting rules.
      tags:
      - Geolocation
      parameters:
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: A list of cities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    ProjectUid:
      name: x-project-uid
      in: header
      required: true
      description: The UID of the Contentstack Personalize project.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    GeoItem:
      type: object
      description: A geographic location item for audience targeting.
      properties:
        uid:
          type: string
          description: Unique identifier of the geographic location.
        name:
          type: string
          description: Display name of the location.
        code:
          type: string
          description: ISO code for the location (country code, region code, etc.).
    GeoList:
      type: object
      description: A list of geographic locations for audience targeting.
      properties:
        data:
          type: array
          description: Array of geographic location objects.
          items:
            $ref: '#/components/schemas/GeoItem'
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        status:
          type: integer
          description: HTTP status code.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token with personalize:manage or personalize:read scope.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken for session-based authentication.
externalDocs:
  description: Contentstack Personalize Management API Documentation
  url: https://www.contentstack.com/docs/developers/apis/personalize-management-api
