openapi: 3.1.0
info:
  title: Contentstack Analytics Accounts Audit Logs API
  description: The Contentstack Analytics API provides access to usage and performance metrics for CMS, Launch, and Automate products within a Contentstack organization. Developers can retrieve analytics data programmatically to build custom dashboards, monitor content delivery performance, and track platform usage against plan limits. The API returns structured data suitable for aggregation with external analytics and business intelligence tools. Access is restricted to organization Owners and Admins. Requests use async job-based processing where initial POST calls queue the job and a subsequent GET call retrieves the results.
  version: v2
  contact:
    name: Contentstack Support
    url: https://www.contentstack.com/contact
  termsOfService: https://www.contentstack.com/legal/terms-of-service
servers:
- url: https://api.contentstack.io
  description: AWS North America Production Server
- url: https://eu-api.contentstack.com
  description: AWS Europe Production Server
- url: https://au-api.contentstack.com
  description: AWS Australia Production Server
security:
- bearerAuth: []
- authtokenAuth: []
tags:
- name: Audit Logs
  description: Audit logs track all administrative actions taken within an automation project, providing a history of configuration changes.
paths:
  /v1/organizations/{organization_uid}/projects/{project_uid}/audit-logs:
    get:
      operationId: getAllAuditLogs
      summary: Get all audit logs
      description: Retrieves all audit log entries for administrative actions taken within the project such as creating, updating, or deleting automations and configuration changes.
      tags:
      - Audit Logs
      parameters:
      - $ref: '#/components/parameters/OrganizationUid'
      - $ref: '#/components/parameters/ProjectUid'
      responses:
        '200':
          description: A list of audit log entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    ProjectUid:
      name: project_uid
      in: path
      required: true
      description: The unique identifier of the automation project.
      schema:
        type: string
    OrganizationUid:
      name: organization_uid
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
  schemas:
    AuditLog:
      type: object
      description: An audit log entry recording an administrative action.
      properties:
        uid:
          type: string
          description: Unique identifier of the audit log entry.
        action:
          type: string
          description: The administrative action that was performed.
        performed_by:
          type: string
          description: UID of the user who performed the action.
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the action was performed.
    AuditLogList:
      type: object
      description: A list of audit log entries.
      properties:
        data:
          type: array
          description: Array of audit log objects.
          items:
            $ref: '#/components/schemas/AuditLog'
    Error:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable description of the error.
        error_code:
          type: integer
          description: Numeric error code.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token (M2M) with analytics access.
    authtokenAuth:
      type: apiKey
      in: header
      name: authtoken
      description: Contentstack user authtoken. Only organization Owners and Admins can access analytics.
externalDocs:
  description: Contentstack Analytics API Documentation
  url: https://www.contentstack.com/docs/developers/apis/analytics-api
